<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.dicky.meetthearrogance">

    <permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CAMERA" />



    <application
        android:name=".app.YwApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <activity android:name=".ui.activity.LoginActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.LoginPasswordActivity" />
        <activity android:name=".ui.activity.MassageActivity" />
        <activity android:name=".ui.activity.ExActivity" />
        <activity android:name=".ui.activity.TestActivity" />
        <activity android:name=".ui.activity.TestListActivity" />
        <activity android:name=".ui.activity.VisualInspectionActivity" />
        <activity android:name=".ui.activity.TimeTestActivity" />
        <activity android:name=".ui.activity.MainTabActivity" />
        <activity android:name=".ui.fragment.MainFragment" />
    </application>

</manifest>
